html, body {
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

/*-------------СТИЛИ ДЛЯ nav ------------*/

#nav {
	width: 100%; /* ширина */
	height: 100px; /* высота */
	background: #834ddb; /* фон */
	
}

#navCont {
	float: left; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 50%; /* ширина */
	height: 100px; /* высота */
	display: flex; /* открываем flex-контейнер */
	align-items: center; /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
}

#ulya {
	margin: 0 0 0 30px; /* отступа от каждого края элемента (снаружи блока) */
}

#ulya a {
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-family: "Courier New", monospace; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
}

#navigator {
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 20%; /* ширина */
	height: 100px; /* высота */
	display: flex; /* открываем flex-контейнер */
	align-items: center; /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
	justify-content: space-evenly; /* flex-элементы на одинаковом расстоянии и друг от друга, и от краев */
}

#navigator a {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	color: #c3c5c7; /* цвет текста элемента*/
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size:11px; /* размер шрифта */
}

#navigator a:hover {
	font-size:12px; /* размер шрифта */
	color: #dfe5eb; /* цвет текста элемента*/
}

#navigator a:active {
	font-size:14px; /* размер шрифта */
	color: #fff; /* цвет текста элемента*/
}

/*-------------СТИЛИ ДЛЯ main -------------*/

#main {
	width: 100%; /* ширина */
	/*height: 6000px;*/ /* высота */
	background: #312450; /* фон */
	display: flex; /* открываем flex-контейнер */
	flex-direction: column; /* направление укладки элементов по осям */
	align-items: center; /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
	font-family: Arial, Helvetica, sans-serif;/* указание шрифта используемого для оформления текста содержимого */
	font-size: 18px; /* размер шрифта */
} 

#heading {
	width: 85%; /* ширина */
	height: 110px; /* высота */
	border-bottom: 2px solid #de28c0; /* рамка */
	border-image: linear-gradient(to right, #834ddb 0%, #a82d94 100%); /* задаем градиент рамки */
	border-image-slice: 1;/* смещение фона границы */
}

h1 {
	color: #fff; /* цвет текста элемента*/
	font-size: 48px;  /* размер шрифта */
}

b, strong {
	color: #fff; /* цвет текста элемента*/
}

/*---------- СТИЛИ ДЛЯ text ------------*/

#text {
	width: 85%; /* ширина */
	height: 200px; /* высота */
	padding: 30px 0 20px 0; /* поля вокруг содержимого элемента (внутри блока)*/
	border-bottom: 1px solid #785e85fd; /* рамка */
	line-height: 2;/* межстрочный интервал */
	
}

h2 {
	color: #fff; /* цвет текста элемента*/
	font-size: 36px;  /* размер шрифта */
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
}

#text p {
	color: #a99bc9; /* цвет текста элемента*/
	
}

#text code {
	background: #ffffff0d; /* фон (пять характеристик) */
	border: 1px solid #ffffff26; /* рамка */
	border-radius: 5px; /* радиус скругления углов рамки */
	font-size: 18px; /* размер шрифта */
}

#text a {
	color: #a99bc9; /* цвет текста элемента*/
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	border-bottom: 1px dotted #a99bc9; /* рамка снизу*/
}

#text a:hover { /* псевдокласс срабатывает по наведению курсора на элемент */
	color: #fff; /* цвет текста элемента*/
	border-bottom: none; /* рамка снизу отсутствует*/
}

/*---------- СТИЛИ ДЛЯ textOne ------------*/

#textOne {
	width: 85%; /* ширина */
	height: 350px; /* высота */
	border-bottom: 1px solid #785e85fd; /* рамка */
	line-height: 2;/* межстрочный интервал */
	padding: 20px 0 20px 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#textOne p {
	color: #a99bc9; /* цвет текста элемента*/
}

/*---------- СТИЛИ ДЛЯ headers ------------*/

#headers {
	width: 85%; /* ширина */
	height: 320px; /* высота */
	border-bottom: 1px solid #785e85fd; /* рамка */
	line-height: 2;/* межстрочный интервал */
	padding: 20px 0 20px 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

h1, h2, h3, h4, h5, h6 {
	color: #fff; /* цвет текста элемента */
}

/*---------- СТИЛИ ДЛЯ blockquote ------------*/

#blockquote {
	width: 85%; /* ширина */
	height: 180px; /* высота */
	line-height: 2;/* межстрочный интервал */
	padding: 20px 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#blockquote h3 {
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
}

blockquote {
	font-style: italic; /* начертание шрифта — обычное, курсивное или наклонное */
}

#line {
	display: flex; /* включаю flex-контейнер */
	align-items: center; /* выравнивание flex-элементов вдоль центральной оси контейнера (по высоте) */
}

#verticalLine {
	border-left: 4px solid #745b7ffd; /* рамка */
	height: 140px; /* высота */
	width: 4px; /* ширина */
}

#line p {
	color: #a99bc9;  /* цвет текста элемента */
}

/*-------------СТИЛИ ДЛЯ preformatted -------------*/

#preformatted {
	width: 85%; /* ширина */
	height: 220px; /* высота */
	line-height: 1.2;/* межстрочный интервал */
	padding: 20px 0 20px 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#preformatted h3 {
	margin:0; /* отступа от каждого края элемента (снаружи блока) */
}

pre {
	background: #ffffff0d; /* фон (пять характеристик) */
	border: 1px solid #ffffff26; /* рамка */
	border-radius: 5px; /* радиус скругления углов рамки */
	color: #a99bc9; /* цвет текста элемента */
}

pre code {
	font-size: 14px; /* размер шрифта */
	font-weight: 100; /* насыщенность шрифта */
}

/*-------------СТИЛИ ДЛЯ lists -------------*/

#lists {
	/*height: 1000px;*/ /* высота */
	width: 85%; /* ширина */
	line-height: 1.7;/* межстрочный интервал */
	padding: 20px 0; /* поля вокруг содержимого элемента (внутри блока)*/
	margin: 35px 0 0 0; /* отступа от каждого края элемента (снаружи блока) */
}

#listsCol_1 h3, #listsCol_2 h3 {
	margin: 10px 0 0 0; /* отступа от каждого края элемента (снаружи блока) */
}

#listsFlex{
	display: flex; /* включаю flex-контейнер */
	margin: 0 0 20px 0; /* отступа от каждого края элемента (снаружи блока) */
}

#listsCol_1 {
	width: 50%; /* ширина */
	color: #a99bc9; /* цвет текста элемента */	
}

#unorderList ul {
	padding-left: 17px; /* поле слева содержимого элемента (внутри блока)*/
	margin-top: 0; /* отступа от каждого края элемента (снаружи блока) */
}

#tabList_1 {
	border-bottom: 1px solid #5b5073; /* рамка снизу */
	padding: 10px 0 10px 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#tabList_2 {
	border-bottom: 1px solid #5b5073; /* рамка снизу */
	padding: 10px 0 10px 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#tabList_3 {
	padding: 10px 0 10px 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#tabList ul {
	list-style: none; /* стиль маркера списка и элементов с display: list-item */
	padding-left: 0; /* поле слева содержимого элемента (внутри блока)*/
	margin-top: 0; /* отступа от верхнего края элемента (снаружи блока) */
}

#listsCol_2 {
	width: 50%; /* ширина */
	color: #a99bc9; /* цвет текста элемента */
	padding: 0 0 0 25px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#orderList ol {
	margin-top: 0; /* отступа от верхнего края элемента (снаружи блока) */
	padding-left: 20px; /* поле слева содержимого элемента (внутри блока)*/
}

#icons ul {
	margin: 10px 0 0 0; /* отступа от каждого края элемента (снаружи блока) */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#icons li {
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
}

#social_1 {
	display: block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	width: 25px; /* шиина */
	height: 25px; /* высота */
	background: url('../images/social/facebook.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
	margin-right: 10px; /* отступа от правого края элемента (снаружи блока) */
}

#social_1:hover {
	background: url('../images/social/facebook1.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

#social_2 {
	display: block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	width: 25px; /* шиина */
	height: 25px; /* высота */
	background: url('../images/social/instagram.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
	margin-right: 10px; /* отступа от правого края элемента (снаружи блока) */
}

#social_2:hover {
	background: url('../images/social/instagram1.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

#social_3 {
	display: block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	width: 25px; /* шиина */
	height: 25px; /* высота */
	background: url('../images/social/twitter.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
	margin-right: 10px; /* отступа от правого края элемента (снаружи блока) */
}

#social_3:hover {
	background: url('../images/social/twitter1.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

#social_4 {
	display: block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	width: 25px; /* шиина */
	height: 25px; /* высота */
	background: url('../images/social/vk.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
	margin-right: 10px; /* отступа от правого края элемента (снаружи блока) */
}

#social_4:hover {
	background: url('../images/social/vk1.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

/*-------------СТИЛИ ДЛЯ actionsLists -------------*/

#actions {
	/*height: 550px;*/ /* высота */
	line-height: 1.7;/* межстрочный интервал */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
}

#actionsFlex {
	display: flex; /* открываем flex-контейнер */
}

/* actionsCol_1 */

#actionsCol_1 {
	width: 50%; /* ширина */
	color: #a99bc9; /* цвет текста элемента */
}

#actionsCol_1 ul {
	list-style: none; /* стиль маркера списка и элементов с display: list-item */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
	margin: 20px 0 50px 0; /* отступ от каждого края элемента (снаружи блока) */
}

.liCol_1Gorizont {
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	margin: 0 20px 0 0; /* отступ от каждого края элемента (снаружи блока) */
}

.liCol_1Vertical {
	margin: 0 0 30px 0; /* отступ от каждого края элемента (снаружи блока) */
}

.buttonBig_1Col_1 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #312450; /* цвет текста элемента*/
	background: #fff;
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 11px; /* размер шрифта */
	border: 1px solid #fff; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 20px 25px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.buttonBig_2Col_1 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
	background: #312450; /* фон (пять характеристик) */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 11px; /* размер шрифта */
	border: 1px solid #87898c; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 20px 25px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.buttonBig_2Col_1:hover { /* псевдокласс срабатывает по наведению курсора на элемент */
	background: #ffffff0e; /* фон (пять характеристик) */
	border: 1px solid #aba4baf1; /* рамка */
}

#buttonBigVertical_1Col_1 {
	margin-bottom: 60px; /* отступ от нижнего края элемента (снаружи блока) */
}

#buttonBigVertical_2Col_1 {
	margin-bottom: 50px; /* отступ от нижнего края элемента (снаружи блока) */
}

.buttonSmall_1Col_1 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #312450; /* цвет текста элемента*/
	background: #fff; /* фон (пять характеристик) */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 9px; /* размер шрифта */
	border: 1px solid #fff; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 10px 25px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.buttonSmall_2Col_1 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
	background: #312450; /* фон (пять характеристик) */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 9px; /* размер шрифта */
	border: 1px solid #706c7af1; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 10px 25px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.buttonSmall_2Col_1:hover { /* псевдокласс срабатывает по наведению курсора на элемент */
	background: #ffffff0e; /* фон (пять характеристик) */
	border: 1px solid #aba4baf1; /* рамка */
}

/* actionsCol_2 */

#actionsCol_2 {
	width: 50%; /* ширина */
	color: #a99bc9; /* цвет текста элемента */
	padding: 0;
}

#actionsCol_2 ul {
	list-style: none; /* стиль маркера списка и элементов с display: list-item */
}

.buttonBig_1Col_2 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #312450; /* цвет текста элемента*/
	background: #fff;
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 11px; /* размер шрифта */
	border: 1px solid #fff; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 20px 200px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.buttonBig_2Col_2 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
	background: #312450; /* фон (пять характеристик) */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 11px; /* размер шрифта */
	border: 1px solid #87898c; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 20px 200px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.buttonBig_2Col_2:hover { /* псевдокласс срабатывает по наведению курсора на элемент */
	background: #ffffff0e; /* фон (пять характеристик) */
	border: 1px solid #aba4baf1; /* рамка */
}

#buttonBigVertical_1Col_2 {
	margin-bottom: 60px; /* отступ от нижнего края элемента (снаружи блока) */
}

#buttonBigVertical_2Col_2 {
	margin-bottom: 50px; /* отступ от нижнего края элемента (снаружи блока) */
}

.buttonSmall_1Col_2 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #312450; /* цвет текста элемента*/
	background: #fff; /* фон (пять характеристик) */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 9px; /* размер шрифта */
	border: 1px solid #fff; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 10px 240px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.buttonSmall_2Col_2 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
	background: #312450; /* фон (пять характеристик) */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 9px; /* размер шрифта */
	border: 1px solid #706c7af1; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 10px 240px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.buttonSmall_2Col_2:hover { /* псевдокласс срабатывает по наведению курсора на элемент */
	background: #ffffff0e; /* фон (пять характеристик) */
	border: 1px solid #aba4baf1; /* рамка */
}

/*-------------СТИЛИ ДЛЯ table -------------*/

#table {
	/*height: 1000px;*/ /* высота */
	width: 85%; /* ширина */
	line-height: 1.7;/* межстрочный интервал */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
}

#table h2 {
	margin: 10px 0 0 0; /* отступа от каждого края элемента (снаружи блока) */
}

#table h3 {
	margin: 25px 0 10px 0; /* отступа от каждого края элемента (снаружи блока) */
}

table {
	width: 100%; /* ширина */
	border-collapse: collapse; /* отображает границы вокруг ячеек таблицы */
}

thead {
	color: #fff; /* цвет текста элемента*/
}

th {
	height: 55px; /* высота */
	text-align: left; /* горизонтальное выравнивание текста в пределах элемента */
	padding-left: 25px; /* поля слева от содержимого элемента (внутри блока)*/
}

td {
	border-top: 1px solid #564878; /* рамка */
	height: 55px;
	padding-left: 25px; /* поля слева от содержимого элемента (внутри блока)*/
}

.tabCol_1 {
	width: 20%; /* ширина */
}

.tabCol_2 {
	width: 65%; /* ширина */
}

.tabCol_3 {
	width: 15%; /* ширина */
}

.fitBorder {
	border-top: 2px solid #564878; /* рамка */
}

.bgraund {
	background: #ffffff0e; /* фон (пять характеристик)*/
}

tbody {
	color: #a99bc9; /* цвет текста элемента*/
}

tfoot {
	color: #a99bc9; /* цвет текста элемента*/
}

/* Альтернативная таблица */

.verticalBorder {
	border: 1px solid #564878; /* рамка */
}

/*-------------СТИЛИ ДЛЯ buttons -------------*/

#buttons {
	/*height: 1000px;*/ /* высота */
	width: 85%; /* ширина */
	line-height: 1.7;/* межстрочный интервал */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
}

#buttons h2 {
	margin: 10px 0 0 0; /* отступа от каждого края элемента (снаружи блока) */
}

#lineButton_1 ul {
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

.liBlock {
	display: inline-block;/* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	margin: 0 20px 40px 0; /* отступ от каждого края элемента (снаружи блока) */
}

.but_1 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #312450; /* цвет текста элемента*/
	background: #fff;
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 11px; /* размер шрифта */
	border: 1px solid #fff; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 20px 25px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.but_2 {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
	background: #312450; /* фон (пять характеристик) */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 11px; /* размер шрифта */
	border: 1px solid #87898c; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 20px 25px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.but_2:hover { /* псевдокласс срабатывает по наведению курсора на элемент */
	background: #ffffff0e; /* фон (пять характеристик) */
	border: 1px solid #aba4baf1; /* рамка */
}

#buttonSize {
	display: flex;
	align-items: flex-start;
}

#buttonSize a {
	display: inline-block;
}

#big {
	font-size: 16px; /* размер шрифта */
	padding: 25px 40px; /* поля вокруг содержимого элемента (внутри блока)*/
	border-radius: 40px; /* радиус скругления углов рамки */
}

#mini {
	font-size: 9px; /* размер шрифта */
	padding: 10px 25px; /* поля вокруг содержимого элемента (внутри блока)*/
}

.fit {
	padding: 20px 95px; /* поля вокруг содержимого элемента (внутри блока)*/
}

.fitMini {
	padding: 10px 81px; /* поля вокруг содержимого элемента (внутри блока)*/
	font-size: 9px; /* размер шрифта */
}

img {
	width: 12px;
	height: 12px;
	margin-right: 5px;
}

#disable .but_2:hover { /* псевдокласс срабатывает по наведению курсора на элемент */
	background: #312450; /* фон (пять характеристик) */
	border: 1px solid #87898c; /* рамка */
}

/*-------------СТИЛИ ДЛЯ forms -------------*/

#forms {
	/*height: 1000px;*/ /* высота */
	width: 85%; /* ширина */
	line-height: 1.7;/* межстрочный интервал */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
}

#forms h2 {
	margin: 10px 0 0 0; /* отступа от каждого края элемента (снаружи блока) */
}

#formFlex {
	display: flex; /* включаем flex-контейнер */
	flex-wrap: wrap; /* располагаем элементы в одну строку или в несколько */
}

#name {
	width: 50%; /* ширина */
}

#email {
	width: 50%; /* ширина */
}

#nameOne {
	width: 92%; /* ширина */
	height: 45px; /* высота */
	margin: 20px 0 20px 0; /* отступа от каждого края элемента (снаружи блока) */
	background: #40335e; /* фон */
	border-radius: 5px; /* скругление углов рамки */
	border: 1px solid #6a617d; /* рамка */
	color: #a99bc9; /* цвет текста элемента*/
	font-size: 16px; /* размер шрифта */
	font-weight: 500; /* насыщенность шрифта */
	padding: 0 0 0 20px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#nameOne:focus {
	border: 2px solid #fff; /* рамка */
}

#emailOne {
	width: 92%; /* ширина */
	height: 45px; /* высота */
	margin: 20px 0 20px 0; /* отступа от каждого края элемента (снаружи блока) */
	background: #40335e; /* фон */
	border-radius: 5px; /* скругление углов рамки */
	border: 1px solid #7e709e; /* рамка */
	color: #a99bc9; /* цвет текста элемента*/
	font-size: 16px; /* размер шрифта */
	font-weight: 500; /* насыщенность шрифта */
	padding: 0 0 0 20px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#emailOne:focus {
	border: 2px solid #fff; /* рамка */
}

/* стили для listOpen */

#listOpen {
	width: 100%;
}

select { /* убираем стрелку в форме select*/
  -webkit-appearance: none; /* заставляет какой-либо элемент принять вид того, что вы захотите, например, можно заставить див стать кнопкой для Safari и Chrome*/
  -moz-appearance: none; /* заставляет какой-либо элемент принять вид того, что вы захотите, например, можно заставить див стать кнопкой Firefox*/
  appearance: none; /* заставляет какой-либо элемент принять вид того, что вы захотите, например, можно заставить див стать кнопкой */
}

#listOpenForm {
	width: 98%; /* ширина */
	height: 45px; /* высота */
	margin: 10px 0 0 0; /* отступа от каждого края элемента (снаружи блока) */
	background: #40335e; /* фон */
	border-radius: 5px; /* скругление углов рамки */
	border: 1px solid #7e709e; /* рамка */
	color: #a99bc9; /* цвет текста элемента*/
	font-size: 16px; /* размер шрифта */
	font-weight: 500; /* насыщенность шрифта */
	padding: 0 0 0 20px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#listOpenForm:focus {
	border: 2px solid #fff; /* рамка */
}

/* стили для radio */

.radioKnopka {
	width: 31%; /* ширина */
	margin: 30px 0 20px 0; /* отступа от каждого края элемента (снаружи блока) */
	color: #a99bc9; /* цвет текста элемента*/
	font-size: 16px; /* размер шрифта */
	font-weight: lighter; /* насыщенность шрифта */
	padding: 0 0 0 17px; /* поля вокруг содержимого элемента (внутри блока)*/
}

/* Шаг 1: прячем стандартную радиокнопку без потери доступности */

.radioKnopka input[type='radio'] {
	opacity: 0; /* определяет уровень прозрачности элемента веб-страницы. */
}

/* Шаг 2: создаем поддельную радиокнопку из псевдоэлементов */

/* Часть 1: создание внешнего блока */

.radioKnopka label::before {
	background: #40335e/*3a2d57*/; /* фон */
	content: ""; /* замечание: content: "" нужен, чтобы псевдоэлемент стал видимым. Если свойство content не задано, псевдоэлемент не отрисовывается */
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	height: 25px; /* высота */
	width: 25px; /* ширина */
	border: 1px solid #7e709e; /* рамка */   
	border-radius: 20px; /* скругление углов рамки */
	margin: -8px 0 0 -27px; /* отступа от каждого края элемента (снаружи блока) */
}

/* Часть 2: создание галки */
/* Зададим псевдоэлементу ::after отображение inline-block, 
а также пропишем height и width. Также добавим стили для 
левой и нижней рамки и повернем все это на 45 градусов, 
чтобы было похоже на галку. */
.radioKnopka label::after {
	content: ""; /* замечание: content: "" нужен, чтобы псевдоэлемент стал видимым. Если свойство content не задано, псевдоэлемент не отрисовывается */
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	height: 6px; /* высота */
	width: 9px; /* ширина */
	border-left: 3px solid #775587; /* рамка слева элемента */
	border-bottom: 3px solid #775587; /* рамка снизу элемента */
	transform: rotate(-45deg); /* трансформирует элемент, в частности, позволяет его масштабировать (scale), вращать (rotate), сдвигать (translate), наклонять (skewX/skewY), а также комбинировать виды трансформаций */
}

/* Часть 3: позиционирование внешнего блока и галки */

.radioKnopka label {
	position: relative; /* способ позиционирования элемента относительно окна браузера или других объектов на веб-странице */
}

.radioKnopka label::before,
.radioKnopka label::after {
	position: absolute; /*способ позиционирования элемента относительно окна браузера или других объектов на веб-странице */
}

/*Внешний блок*/
.radioKnopka label::before {
	top: 3px; /* для позиционированного элемента определяет расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
}

#knopka_1 label::before {
  right: 45px; /* определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
}

#knopka_2 label::before {
  right: 65px; /* определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
}

#knopka_3 label::before {
  right: 50px; /* определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
}

/*Галка*/
#knopka_1 label::after {
	right: 53px; /* для позиционированного элемента определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
	top: 2px; /* для позиционированного элемента определяет расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
}

#knopka_2 label::after {
	right: 72px; /* для позиционированного элемента определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
	top: 2px; /* для позиционированного элемента определяет расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
}

#knopka_3 label::after {
	right: 58px; /* для позиционированного элемента определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
	top: 2px; /* для позиционированного элемента определяет расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
}

/* Шаг 3: показываем и прячем галку по состоянию радиокнопки
Мы присвоили атрибут id тегу <input type="radio"> и 
атрибут for тегу label. Теперь мы можем переключать 
состояния стандартной радиокнопки кликами по label. Мы 
специально разместили label после <input type="radio">, 
чтобы использовать состояние :checked тега 
<input type=»radio»> для стилизации псевдоэлемента 
::after (галки) поля label с помощью смежного селектора + */

/*Прячем галку по умолчанию*/
.radioKnopka input[type="radio"] + label::after {
	content: none; /* свойство content позволяет вставлять генерируемое содержание в текст веб-страницы, которое первоначально в тексте отсутствует */
}
/*Показываем галку по состоянию checked*/
.radioKnopka input[type="radio"]:checked + label::after {
	content: "";
}

/*Меняем фон по состоянию checked*/
.radioKnopka input[type="radio"]:checked + label::before {
	background: #fff; /* фон (пять характеристик)*/
}

/* СТИЛИ ДЛЯ checkbox */

.chekKnopka {
	width: 48%; /* ширина */
	margin: 30px 0 20px 0; /* отступа от каждого края элемента (снаружи блока) */
	color: #a99bc9; /* цвет текста элемента*/
	font-size: 16px; /* размер шрифта */
	font-weight: lighter; /* насыщенность шрифта */
	padding: 0 0 0 17px; /* поля вокруг содержимого элемента (внутри блока)*/
}

/* Шаг 1: прячем стандартную радиокнопку без потери доступности */
.chekKnopka input[type='checkbox'] {
	opacity: 0; /* определяет уровень прозрачности элемента веб-страницы. */
}

/* Шаг 2: создаем поддельную чекбокскнопку из псевдоэлементов */

/* Часть 1: создание внешнего блока */

.chekKnopka label::before {
	background: #40335e/*3a2d57*/; /* фон */
	content: ""; /* замечание: content: "" нужен, чтобы псевдоэлемент стал видимым. Если свойство content не задано, псевдоэлемент не отрисовывается */
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	height: 25px; /* высота */
	width: 25px; /* ширина */
	border: 1px solid #7e709e; /* рамка */   
	border-radius: 5px; /* скругление углов рамки */
	margin: -8px 0 0 -27px; /* отступа от каждого края элемента (снаружи блока) */
}

/* Часть 2: создание галки */
/* Зададим псевдоэлементу ::after отображение inline-block, 
а также пропишем height и width. Также добавим стили для 
левой и нижней рамки и повернем все это на 45 градусов, 
чтобы было похоже на галку. */
.chekKnopka label::after {
	content: ""; /* замечание: content: "" нужен, чтобы псевдоэлемент стал видимым. Если свойство content не задано, псевдоэлемент не отрисовывается */
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	height: 6px; /* высота */
	width: 9px; /* ширина */
	border-left: 3px solid #775587; /* рамка слева элемента */
	border-bottom: 3px solid #775587; /* рамка снизу элемента */
	transform: rotate(-45deg); /* трансформирует элемент, в частности, позволяет его масштабировать (scale), вращать (rotate), сдвигать (translate), наклонять (skewX/skewY), а также комбинировать виды трансформаций */
}

/* Часть 3: позиционирование внешнего блока и галки */

.chekKnopka label {
	position: relative; /* способ позиционирования элемента относительно окна браузера или других объектов на веб-странице */
}

.chekKnopka label::before,
.chekKnopka label::after {
	position: absolute; /*способ позиционирования элемента относительно окна браузера или других объектов на веб-странице */
}

/*Внешний блок*/
.chekKnopka label::before {
	top: 3px; /* для позиционированного элемента определяет расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
}

#flag_1 label::before {
  right: 210px; /* определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
}

#flag_2 label::before {
  right: 80px; /* определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
}

/*Галка*/
#flag_1 label::after {
	right: 217px; /* для позиционированного элемента определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
	top: 2px; /* для позиционированного элемента определяет расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
}

#flag_2 label::after {
	right: 87px; /* для позиционированного элемента определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
	top: 2px; /* для позиционированного элемента определяет расстояние от верхнего края родительского элемента до верхнего края дочернего элемента */
}

/* Шаг 3: показываем и прячем галку по состоянию чекбокскнопки
Мы присвоили атрибут id тегу <input type="checkbox"> и 
атрибут for тегу label. Теперь мы можем переключать 
состояния стандартной чекбокскнопки кликами по label. Мы 
специально разместили label после <input type="checkbox">, 
чтобы использовать состояние :checked тега 
<input type=»checkbox»> для стилизации псевдоэлемента 
::after (галки) поля label с помощью смежного селектора + */

/*Прячем галку по умолчанию*/
.chekKnopka input[type="checkbox"] + label::after {
	content: none; /* свойство content позволяет вставлять генерируемое содержание в текст веб-страницы, которое первоначально в тексте отсутствует */
}
/*Показываем галку по состоянию checked*/
.chekKnopka input[type="checkbox"]:checked + label::after {
	content: ""; /* свойство content позволяет вставлять генерируемое содержание в текст веб-страницы, которое первоначально в тексте отсутствует */
}

/*Меняем фон по состоянию checked*/
.chekKnopka input[type="checkbox"]:checked + label::before {
	background: #fff; /* фон (пять характеристик)*/
}

/* СТИЛИ ДЛЯ massageText */

#massageText {
	width: 100%; /* ширина */
}

#massage {
	width: 96%; /* ширина */
	height: 200px;  /* высота */
	margin: 20px 0 0 0; /* отступа от каждого края элемента (снаружи блока) */
	background: #40335e; /* фон */
	border-radius: 5px; /* скругление углов рамки */
	border: 1px solid #7e709e; /* рамка */
	color: #a99bc9; /* цвет текста элемента*/
	font-size: 16px; /* размер шрифта */
	line-height: 2;/* межстрочный интервал */
	font-weight: lighter; /* насыщенность шрифта */
	padding: 20px 15px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#massage:focus {
	border: 2px solid #fff; /* рамка */
}


/*-------------СТИЛИ ДЛЯ massageButton -------------*/

#massageButton {
	margin: 10px 0 10px 0; /* отступа от каждого края элемента (снаружи блока) */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#massageButton ul {
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

.knopkaForm {
	display: inline-block;/* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	margin: 0 20px 20px 0; /* отступ от каждого края элемента (снаружи блока) */
}

.submint {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #312450; /* цвет текста элемента*/
	background: #fff;
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 11px; /* размер шрифта */
	border: 1px solid #fff; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 20px 25px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
	text-align: center; /* горизонтальное выравнивание текста в пределах элемента */
}

.reset {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
	background: #312450; /* фон (пять характеристик) */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size: 11px; /* размер шрифта */
	border: 1px solid #87898c; /* рамка */
	border-radius: 30px; /* радиус скругления углов рамки */
	padding: 20px 45px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
	text-align: center; /* горизонтальное выравнивание текста в пределах элемента */
}

.reset:hover { /* псевдокласс срабатывает по наведению курсора на элемент */
	background: #ffffff0e; /* фон (пять характеристик) */
	border: 1px solid #aba4baf1; /* рамка */
}

/*-------------СТИЛИ ДЛЯ images -------------*/

#images {
	/*height: 1000px;*/ /* высота */
	width: 85%; /* ширина */
	line-height: 1.7;/* межстрочный интервал */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
}

#imagesFlex {
	display: flex; /* включаю flex-контейнер */
	flex-wrap: wrap; /* располагать элементы в одну строку или в несколько */
	position: relative; /* устанавливает способ позиционирования элемента относительно окна браузера или других объектов на веб-странице */
	right: 25px; /* для позиционированного элемента определяет расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента */
}

.picBig {
	width: 100%; /* ширина */
	height: 450px; /* высота */
	padding: 0 0 0 25px; /* поля вокруг содержимого элемента (внутри блока)*/
}

.picBig img {
	width: 100%; /* ширина */
	height: 450px; /* высота */
	border-radius: 5px; /* радиус скругления углов рамки */
}

.picSmall {
	width: 358px; /* ширина */
	height: 358px; /* высота */
	padding: 25px 0 0 25px; /* поля вокруг содержимого элемента (внутри блока)*/
	
}

.picSmall img {
	width: 358px; /* ширина */
	height: 358px; /* высота */
	border-radius: 5px; /* радиус скругления углов рамки */
}


/* СТИЛИ для ЛЕВО и ПРАВО */

#images p {
	color: #a99bc9; /* цвет текста элемента*/
	font-size: 17px; /* размер шрифта */
	font-weight: lighter; /* насыщенность шрифта */
	line-height: 1.75;/* межстрочный интервал */
	margin: 0 0 30px 0; /* отступа от каждого края элемента (снаружи блока) */
}

#left {
	float: left; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 220px; /* ширина */
	height: 220px; /* высота */
	margin: 0 25px 15px 0; /* отступа от каждого края элемента (снаружи блока) */
}

#right {
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 220px; /* ширина */
	height: 220px; /* высота */
	margin: 0 0 15px 25px; /* отступа от каждого края элемента (снаружи блока) */
}

#left img, #right img {
	width: 220px; /* ширина */
	height: 220px; /* высота */
	border-radius: 5px; /* радиус скругления углов рамки */
}

/*-------------СТИЛИ ДЛЯ footer -------------*/

#footer {
	width: 100%; /* ширина */
	height: 150px; /* высота */
	background: #241a3b; /* фон (пять характеристик)*/
	color: #908c9c; /* цвет текста элемента*/
	font-family: 'Open Sans', sans-serif ,'Courier New',  monospace; /* указание шрифта используемого для оформления текста содержимого */
	font-stretch: condensed; /* устанавливает узкое, нормальное или широкое начертание шрифта */
	font-weight: bold; /* насыщенность шрифта */
}

#copyright {
	width: 100%; /* ширина */
	height: 150px; /* высота */
	display: flex;/* включаю flex-контейнер для id='copyright' */
	align-items: center; /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
}

#hr {
	height: 15px; /* высота */
	border-right: 1px solid #908c9c; /* рамка */
}

#vovchis {
	width: 230px; /* ширина */
	margin: 0 15px 0 80px; /* отступа от каждого края элемента (снаружи блока) */
}

#design {
	width: 230px; /* ширина */
	margin-left: 25px; /* отступа от левого края элемента (снаружи блока) */
}

.footerUp {
	color: #908c9c; /* цвет текста элемента*/
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	border-bottom: 0.1px dotted; /* рамка снизу */
}

.footerUp:hover { /* при наведениимыши на ссылку */
	color: #fff; /* цвет текста */
	border-bottom: none; /* граница рамки снизу убрал */
}