html, body {
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

/* ---------------СТИЛИ ДЛЯ sideBar---------------  */

#sideBar {
	position: fixed; /* позиционирование элемента относительно окна браузера или др. объектов */
	width: 23%; /* 312 px ширина */
	height: 100%; /* высота */
	background: #312450; /* фон (пять характеристик)*/
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	text-align: right; /* горизонтальное выравнивание текста в пределах элемента */
}

nav {
	display: flex; /* открываем flex-контейнер */
	align-items: center; /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
	height: 100%; /* высота */
	
}

ul {
	list-style: none; /* стиль маркера списка и элементов с display: list-item */
}

.menu {
	display: block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #77786c; /* цвет текста элемента*/
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size:11px; /* размер шрифта */
	padding: 45px 0 10px 70px; /* поля вокруг содержимого элемента (внутри блока)*/
	border-bottom: 1.5px solid #827a81; /* рамка снизу */
	outline: none; /* убираем границу вокруг ссылок  */
}

.menu:hover { /* при наведениимыши на ссылку */
	color: #a7a897; /* цвет текста */
	border-bottom: 2px solid #f22edf; /* рамка снизу */
	border-image: linear-gradient(to right, #834ddb 0%, #a82d94 100%); /* задаем градиент рамки */
	border-image-slice: 1;/* смещение фона границы */
}

.menu:active { /* при нажатии на ссылку */
	color: #fff; /* цвет текста */
}

/* ----------------СТИЛИ ДЛЯ INTRO----------------  */

#intro {
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 77%; /*1042px ширина*/
	height: 630px; /* высота */
	background: #834ddb; /* фон (пять характеристик)*/
	color: #fff; /* цвет текста */
	font-family: "Courier New", monospace; /* указание шрифта используемого для оформления текста содержимого */

}

h1 {
	font-size: 42px; /* размер шрифта */
	padding: 215px 0 15px 80px; /* поля вокруг содержимого элемента (внутри блока)*/
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
}

h2 {
	font-size: 32px; /* размер шрифта */
	margin: 0; /* отступ от каждого края элемента (снаружи блока) */
}

#glav {
	padding: 0 0 0 80px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#glav p {
	font-size: 22px; /* размер шрифта */
	color: #c3c5c7; /* цвет текста элемента*/
	letter-spacing: -1.5px; /* межсимвольный интервал */
	line-height: 1.7;/* межстрочный интервал */
	word-spacing: -6px; /* интервал между слов */
}

.htmlUp {
	color: #c3c5c7; /* цвет текста элемента*/
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	border-bottom: 0.1px dotted; /* рамка снизу */
}

.htmlUp:hover { /* при наведениимыши на ссылку */
	color: #fff; /* цвет текста */
	border-bottom: none; /* граница рамки снизу убрал */
}

.glavMore {
	padding: 30px 0 0 80px; /* поля вокруг содержимого элемента (внутри блока)*/
}

.button {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size:11px; /* размер шрифта */
	border: 1px solid #87898c; /* рамка */
	border-radius: 25px; /* радиус скругления углов рамки */
	padding: 15px 25px; /* поля вокруг содержимого элемента (внутри блока)*/
	outline: none; /* убираем границу вокруг ссылок  */
}

.button:hover { /* псевдокласс срабатывает по наведению курсора на элемент */
	background: #ffffff13; /* фон (пять характеристик) */
	border: 1px solid #fff; /* рамка */
}

/* ----------------СТИЛИ ДЛЯ about----------------  */

#about {
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 77%; /*1042px ширина*/
	height: 1200px; /* высота */
	background: #79808c; /* фон (пять характеристик)*/
	color: #fff; /* цвет текста элемента*/
	font-family: "Courier New", monospace; /* указание шрифта используемого для оформления текста содержимого */
}

img {
	float: left; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 33%; /* ширина */
	height: 400px; /* высота */
}

.promo {
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 67%; /* ширина */
	height: 400px; /* высота */
}

.promo h2 {
	padding: 100px 0 0 80px; /* поля вокруг содержимого элемента (внутри блока)*/
}

.promo p {
	color: #c3c5c7; /* цвет текста элемента*/
	word-spacing: -6px; /* расстояние между слов */
	padding: 0 25px 25px 80px; /* поля вокруг содержимого элемента (внутри блока)*/
	line-height: 2; /* межстрочный интервал */
}

#study {
	background: #4962bf; /* фон (пять характеристик)*/
}

#fun {
	background: #4860b8; /* фон (пять характеристик)*/
}

#travel {
	background: #475fb3; /* фон (пять характеристик)*/
}

/*----------------СТИЛИ ДЛЯ skills---------------*/

.skills {
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 77%; /* ширина */
	height: 1300px; /* высота */
	background: #c756ae; /* фон (пять характеристик)*/
	color: #fff; /* цвет текста элемента*/
	font-family: "Courier New", monospace; /* указание шрифта используемого для оформления текста содержимого */
}

#like h2 {
	padding: 80px 0 0 80px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#like p {
	color: #c3c5c7; /* цвет текста элемента*/
	word-spacing: -6px; /* интервал между слов */
	line-height: 2; /* межстрочный интервал */
	padding: 0 25px 25px 80px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#flex {
	display: flex; /* включаю flex-контейнер для id='box' */
	height: 900px; /* высота */
}
#box {
	width: 883px;  /* ширина. задаю с учетом размера двух блоков skill_... в ряд + три границы по 1px */
	margin: auto; /* отступа от каждого края элемента (снаружи блока) */
	display: flex; /* включаю flex-контейнер для id='skill_...' */
	flex-wrap: wrap; /* перенос элементов, которые не помещаются в контейнере. wrap - перенос на следующий ряд. */
} 

#skill_1, #skill_2, #skill_3, #skill_4,
#skill_5, #skill_6 {
	width: 440px; /* ширина */
	height: 300px; /* высота */
	background: #cf5db6; /* фон */
	border: 1px solid #bf99b7; /* рамка */
	margin: 0;  /* отступа от каждого края элемента (снаружи блока) */
}

#skill_1 {
	border-right: none; /* рамка справа отсутствует */
	border-bottom: none; /* рамка снизу отсутствует */
	border-radius: 5px 0 0 0; /* скругление углов рамки */
}

#skill_2 {
	border-bottom: none; /* рамка снизу отсутствует */
	border-radius: 0 5px 0 0; /* скругление углов рамки */
}

#skill_3 {
	border-right: none; /* рамка справа отсутствует */
	border-bottom: none; /* рамка снизу отсутствует */
}

#skill_4 {
	border-bottom: none; /* рамка снизу отсутствует */
}

#skill_5 {
	border-right: none; /* рамка справа отсутствует */
	border-radius: 0 0 0 5px; /* скругление углов рамки */
}

#skill_6 {
	border-radius: 0 0 5px 0; /* скругление углов рамки */
}

.logo {
	width: 35px; /* шиина */
	height: 35px; /* высота */
	float: left; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	margin: 45px 15px 35px 45px;  /* отступа от каждого края элемента (снаружи блока) */
}

#logo1 {
	background: url('../images/skills/book.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
} 

#logo2 {
	background: url('../images/skills/chess.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

#logo3 {
	background: url('../images/skills/brush.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
} 

#logo4 {
	background: url('../images/skills/bike.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
} 

#logo5 {
	background: url('../images/skills/doll.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

#logo6 {
	background: url('../images/skills/ipad.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
} 

#skill_1 h3,  #skill_2 h3, #skill_3 h3,
#skill_4 h3, #skill_5 h3, #skill_6 h3 {
	margin: 50px 45px 25px 110px; /* отступа от каждого края элемента (снаружи блока) */
}

#skill_1 p, #skill_2 p,  #skill_3 p, #skill_4 p,
#skill_5 p, #skill_6 p {
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
	margin: 0 45px 25px 110px; /* отступа от каждого края элемента (снаружи блока) */
}

/*------------- СТИЛИ ДЛЯ contacts -----------*/

#contacts {
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 77%; /* ширина */
	height: 750px; /* высота */
	background: #6542c7; /* фон (пять характеристик)*/
	color: #fff; /* цвет текста элемента*/
	font-family: "Courier New", monospace; /* указание шрифта используемого для оформления текста содержимого */

}

#contacts h2 {
	padding: 80px 0 0 80px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#contacts h3 {
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
}

#contacts p {
	color: #c3c5c7; /* цвет текста элемента*/
	word-spacing: -6px; /* интервал между слов */
	line-height: 2; /* межстрочный интервал */
	padding: 0 25px 25px 80px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#forms {
	width: 640px; /*ширина */
	height: 470px; /*высота */
	border-right: 1px solid #87898c; /* рамка справа */
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
}

form {
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
}

#formName h3, #formMassage h3 {
	margin: 0 0 0 80px; /* отступа от каждого края элемента (снаружи блока) */
}

#name {
	height: 40px; /* высота */
	width: 220px; /* ширина */
	margin: 0 15px 30px 80px; /* отступа от каждого края элемента (снаружи блока) */
	background: #7455c9; /* фон (пять характеристик)*/
	border: 1px solid #8e6ee5; /* рамка */
	border-radius: 7px; /* скругление углов рамки */
	color: #c3c5c7; /* цвет текста элемента*/
	word-spacing: -6px; /* интервал между слов */
	font-size: 17px; /* размер шрифта */
	padding:0 15px 0 15px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#name:focus{
	border: 2px solid #fff; /* рамка */
	border-radius: 7px; /* скругление углов рамки */
}

#email {
	height:40px; /* высота */
	width: 220px; /* ширина */
	margin: 0 25px 30px 0; /* отступа от каждого края элемента (снаружи блока) */
	padding:0 15px 0 15px; /* поля вокруг содержимого элемента (внутри блока)*/
	background: #7455c9; /* фон (пять характеристик)*/
	border: 1px solid #8e6ee5; /* рамка */
	border-radius: 7px; /* скругление углов рамки */
	color: #c3c5c7; /* цвет текста элемента*/
	word-spacing: -6px; /* интервал между слов */
	font-size: 17px; /* размер шрифта */
	padding:0 15px 0 15px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#email:focus{
	border: 2px solid #fff; /* рамка */
	border-radius: 7px; /* скругление углов рамки */
}

#massage {
	height: 150px; /* высота */
	width: 498px; /* ширина */
	margin: 0 15px 0 80px; /* отступа от каждого края элемента (снаружи блока) */
	background: #7455c9; /* фон (пять характеристик)*/
	border: 1px solid #8e6ee5; /* рамка */
	border-radius: 7px; /* скругление углов рамки */
	color: #c3c5c7; /* цвет текста элемента*/
	word-spacing: -6px; /* интервал между слов */
	font-size: 17px; /* размер шрифта */
	padding: 15px 15px 15px 15px; /* поля вокруг содержимого элемента (внутри блока)*/
}

#massage:focus{
	border: 2px solid #fff; /* рамка */
	border-radius: 7px; /* скругление углов рамки */
}

#myData {
	width: 400px; /*ширина */
	height: 470px; /*высота */
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
}

#myData h3 {
	margin: 0 60px 20px 30px;  /* отступа от каждого края элемента (снаружи блока) */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#myData p {
	margin: 10px 60px 25px 30px;  /* отступа от каждого края элемента (снаружи блока) */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

#icons {
	margin-left: 30px; /* отступа от левого края элемента (снаружи блока) */
}

.badges {
	width: 25px; /* шиина */
	height: 25px; /* высота */
	display: inline-block; /* свойство, показывающее как элемент показан в документе (block, inline, list-item, none и др.)*/
	margin: 10px 0px 0px 0px; /* отступа от каждого края элемента (снаружи блока) */
} 

#social_1 {
	background: url('../images/social/facebook.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
	margin-right: 5px; /* отступа от правого края элемента (снаружи блока) */
}

#social_1:hover {
	background: url('../images/social/facebook1.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

#social_2 {
	background: url('../images/social/instagram.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
	margin-right: 5px; /* отступа от правого края элемента (снаружи блока) */
}

#social_2:hover {
	background: url('../images/social/instagram1.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

#social_3 {
	background: url('../images/social/twitter.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
	margin-right: 5px; /* отступа от правого края элемента (снаружи блока) */
}

#social_3:hover {
	background: url('../images/social/twitter1.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

#social_4 {
	background: url('../images/social/vk.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
	margin-right: 5px; /* отступа от правого края элемента (снаружи блока) */
}

#social_4:hover {
	background: url('../images/social/vk1.svg') no-repeat; /* фон */
	background-size: contain; /* фоновое изображение согласно заданным размерам */
}

/*-------------СТИЛИ ДЛЯ footer -------------*/

#footer {
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 77%; /* ширина */
	height: 150px; /* высота */
	background: #533b96; /* фон (пять характеристик)*/
	color: #908c9c; /* цвет текста элемента*/
	font-family: 'Open Sans', sans-serif ,"Courier New",  monospace; /* указание шрифта используемого для оформления текста содержимого */
	font-stretch: condensed; /* устанавливает узкое, нормальное или широкое начертание шрифта */
	font-weight: bold; /* насыщенность шрифта */
}

#copyright {
	width: 100%; /* ширина */
	height: 150px; /* высота */
	display: flex;/* включаю flex-контейнер для id='copyright' */
	align-items: center; /* выавнивание всех элементов внутри flex-контейнера в перпендикулярном направлении */
}

#hr {
	height: 15px; /* высота */
	border-right: 1px solid #908c9c; /* рамка */
}

#vovchis {
	width: 230px; /* ширина */
	margin: 0 15px 0 80px; /* отступа от каждого края элемента (снаружи блока) */
}

#design {
	width: 230px; /* ширина */
	margin-left: 25px; /* отступа от левого края элемента (снаружи блока) */
}

.footerUp {
	color: #908c9c; /* цвет текста элемента*/
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	border-bottom: 0.1px dotted; /* рамка снизу */
}

.footerUp:hover { /* при наведениимыши на ссылку */
	color: #fff; /* цвет текста */
	border-bottom: none; /* граница рамки снизу убрал */
}