html, body {
	margin: 0; /* отступа от каждого края элемента (снаружи блока) */
	padding: 0; /* поля вокруг содержимого элемента (внутри блока)*/
}

/*-------------СТИЛИ ДЛЯ nav ------------*/

#nav {
	width: 100%; /* ширина */
	height: 100px; /* высота */
	background: #834ddb; /* фон */
	
}

#navCont {
	float: left; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 50%; /* ширина */
	height: 100px; /* высота */
	display: flex; /* открываем flex-контейнер */
	align-items: center; /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
}

#ulya {
	margin: 0 0 0 30px; /* отступа от каждого края элемента (снаружи блока) */
}

#ulya a {
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	font-family: "Courier New", monospace; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
}

#navigator {
	float: right; /* определяет, по какой стороне будет выравниваться элемент, при этом остальные элементы будут обтекать его с других сторон */
	width: 20%; /* ширина */
	height: 100px; /* высота */
	display: flex; /* открываем flex-контейнер */
	align-items: center; /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
	justify-content: space-evenly; /* flex-элементы на одинаковом расстоянии и друг от друга, и от краев */
}

#navigator a {
	font-family: Arial, Helvetica, sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	color: #c3c5c7; /* цвет текста элемента*/
	font-weight: bold; /* насыщенность шрифта */
	letter-spacing: 2px; /* расстояние между букв */
	text-transform: uppercase; /* определяет заглавные буквы */
	font-size:11px; /* размер шрифта */
}

#navigator a:hover {
	font-size:12px; /* размер шрифта */
	color: #dfe5eb; /* цвет текста элемента*/
}

#navigator a:active {
	font-size:14px; /* размер шрифта */
	color: #fff; /* цвет текста элемента*/
}

/*-------------СТИЛИ ДЛЯ main -------------*/

#main {
	width: 100%; /* ширина */
	height: 980px; /* высота */
	background: #312450; /* фон */
	display: flex; /* открываем flex-контейнер */
	flex-direction: column; /* направление укладки элементов по осям */
	align-items: center; /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
}

#heading {
	width: 85%; /* ширина */
	height: 110px; /* высота */
	margin: 50px 0 55px 0; /* отступа от каждого края элемента (снаружи блока) */
	border-bottom: 2px solid #de28c0; /* рамка */
	border-image: linear-gradient(to right, #834ddb 0%, #a82d94 100%); /* задаем градиент рамки */
	border-image-slice: 1;/* смещение фона границы */
}

h1 {
	font-family: "Courier New", monospace; /* указание шрифта используемого для оформления текста содержимого */
	color: #fff; /* цвет текста элемента*/
	font-size: 48px;  /* размер шрифта */
}

#foto {
	margin: 0 0 45px 0; /* отступа от каждого края элемента (снаружи блока) */
	width: 85%; /* ширина */
	height: 400px; /* высота */
	border-radius: 5px; /* скругление углов рамки */
	background: url('../images/pic01.jpg') no-repeat; /* фон */
	background-size: cover; /* фоновое изображение согласно заданным размерам */
}


#text {
	margin: 0 0 45px 0; /* отступа от каждого края элемента (снаружи блока) */
	width: 85%; /* ширина */
	height: 300px; /* высота */
}

#text p {
	font-family: 'Arial', 'Helvetica', sans-serif; /* указание шрифта используемого для оформления текста содержимого */
	color: #a99bc9; /* цвет текста элемента*/
	line-height: 2; /* межстрочный интервал */
	font-stretch: extra-expanded; /* устанавливает узкое, нормальное или широкое начертание шрифта */
}

/*-------------СТИЛИ ДЛЯ footer -------------*/

#footer {
	width: 100%; /* ширина */
	height: 150px; /* высота */
	background: #241a3b; /* фон (пять характеристик)*/
	color: #908c9c; /* цвет текста элемента*/
	font-family: 'Open Sans', sans-serif ,'Courier New',  monospace; /* указание шрифта используемого для оформления текста содержимого */
	font-stretch: condensed; /* устанавливает узкое, нормальное или широкое начертание шрифта */
	font-weight: bold; /* насыщенность шрифта */
}

#copyright {
	width: 100%; /* ширина */
	height: 150px; /* высота */
	display: flex; /* включаю flex-контейнер для id='copyright' */
	align-items: center; /* выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении */
}

#hr {
	height: 15px; /* высота */
	border-right: 1px solid #908c9c; /* рамка */
}

#vovchis {
	width: 230px; /* ширина */
	margin: 0 15px 0 80px; /* отступа от каждого края элемента (снаружи блока) */
}

#design {
	width: 230px; /* ширина */
	margin-left: 25px; /* отступа от левого края элемента (снаружи блока) */
}

.footerUp {
	color: #908c9c; /* цвет текста элемента*/
	text-decoration: none; /* оформление текста (подчеркивания, линии над текстом, и т.д.) */
	border-bottom: 0.1px dotted; /* рамка снизу */
}

.footerUp:hover { /* при наведениимыши на ссылку */
	color: #fff; /* цвет текста */
	border-bottom: none; /* граница рамки снизу убрал */
}